#do nothing 
#import multiprocessing

#import gunicorn.app.base

flask
gunicorn
numpy
matplotlib
scikit-learn
pandas
requests
PyMuPDF==1.25.2
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyparsing==3.1.2
python-json-logger==2.0.7
Pygments==2.18.0
pydot==3.0.4
puremagic==1.28
psutil==6.0.0
prompt_toolkit==3.0.47
pycparser==2.22
pyerfa==2.0.1.4
prov==2.0.1

